/*--------- VARIABLES -------*/
:root {
  /* START COLORS */

  /* theme colors */
  --color-primary: #8C60FE;
  --color-done: #77F583;
  --color-warning: #FEDB60;
  --color-error: #FE6060;
  --color-background: #FDF4EF;

  /* neutrals colors */
  --neutral-black: #3E2A70;
  --neutral-grey: #EDEDEE;
  --neutral-white: #FFFFFF;
  /* END COLORS */

  /* START FONT SIZES */
  --font-size-1: 0.625rem;
  --font-size-2: 0.75rem;
  --font-size-3: 0.8125rem;
  --font-size-4: 0.875rem;
  --font-size-5: 1rem;
  --font-size-6: 1.125rem;
  --font-size-7: 1.25rem;
  --font-size-8: 1.5rem;
  --font-size-9: 1.75rem;
  --font-size-10: 2rem;
  --font-size-11: 2.625rem;
  --font-size-12: 3rem;
  --font-size-13: 3.375rem;
  --font-size-14: 3.75rem;
  --font-size-15: 4.25rem;
  --font-size-16: 4.75rem;
  --font-size-17: 5.25rem;
  --font-size-18: 5.75rem;
  /* END FONT SIZES */

  /* START LINE HEIGHT */
  --line-height-0: 0;
  --line-height-1: 1rem;
  --line-height-2: 1.25rem;
  --line-height-3: 1.5rem;
  --line-height-4: 1.75rem;
  --line-height-5: 2rem;
  --line-height-6: 2.5rem;
  --line-height-7: 2.75rem;
  --line-height-8: 3.25rem;
  --line-height-9: 4rem;
  /* END LINE HEIGHT */

  /* START LINE HEIGHT */
  --letter-spacing-neg-5: -0.08em;
  --letter-spacing-neg-4: -0.05em;
  --letter-spacing-neg-3: -0.03em;
  --letter-spacing-neg-2: -0.02em;
  --letter-spacing-neg-1: -0.01em;
  --letter-spacing-1: 0.025em;
  --letter-spacing-2: 0.1em;
  --letter-spacing-3: 0.15em;
  /* END LINE HEIGHT */

  /* START SPACING */
  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.5rem;
  --spacing-4: 0.75rem;
  --spacing-5: 1rem;
  --spacing-6: 1.5rem;
  --spacing-7: 2rem;
  --spacing-8: 2.5rem;
  --spacing-9: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
  --spacing-13: 10rem;
  --spacing-14: 15rem;
  --spacing-15: 25rem;
  /* END SPACING */

  /* START RADIUS */
  --border-radius-0: 4px;
  --border-radius-1: 8px;
  --border-radius-2: 12px;
  /* END RADIUS */

  /* BOX SHADOWS */
  --box-shadow-1: 0px 5px 15px rgba(0, 0, 0, 0.1);
  /* END BOX SHADOWS */

  /* OPACITY */
  --opacity: .67;
  /* END OPACITY */
}



