.btn {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: var(--border-radius-1);
  padding: var(--spacing-3) var(--spacing-4);
  cursor: pointer;
  &--primary {
    background: var(--color-primary);
    color: var(--neutral-white);
    font-weight: 900;
  }
  &--error {
    background-color: var(--color-error);
    color: var(--neutral-white);
    font-weight: 900;
  }

  &__icon {
    margin-right: var(--spacing-3);
  }
  &__text {
    margin: 0;
  }
}
