.login-info {
  display: flex;
  &__user-img {
    margin-left: var(--spacing-4);
  }
  &__username {
    text-align: right;
    letter-spacing: var(--letter-spacing-neg-3);
    font-weight: 500;
  }
}
